:root {
  --border-radius-10: 10px;
  --border-radius-20: 20px;
  --color-background-black: #1a1a1a;
  --font-sans: "Anek Tamil", sans-serif;
  --font-cursive: "Caveat", cursive;
}

body {
  transition: all 0.2s ease-in;
  font-optical-sizing: auto;
  font-style: normal;
  &.menu--noscroll{
    overflow: hidden;
  }
}

strong,
b {
  font-weight: 600;
}

.home__intro {
  position: relative;

  h1 {
    text-align: center;
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 600;
    color: #111111;
    @include interpolate("font-size", 768px, 52px, 992px, 80px, "ease-in");
    @include interpolate("line-height", 768px, 52px, 992px, 80px, "ease-in");
  }

  &--content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page__introduction {
  position: relative;
  .page__introduction--content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  h1 {
    text-align: center;
    /* Desktop_H1 */
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 700;
    /* Neutral/White */
    color: #fff9f9;
    max-width: 900px;
    @include interpolate("font-size", 768px, 40px, 992px, 64px, "ease-in");
    @include interpolate("line-height", 768px, 40px, 992px, 70px, "ease-in");

    span {
      margin-top: -4px;
      @media (min-width: 768px) {
      margin-top: -12px;
      }
      margin-left: -14px;
      display: block;
      font-family: var(--font-cursive);
      font-style: normal;
      font-weight: 400;
      color: #b98f17;
      @include interpolate("font-size", 768px, 42px, 992px, 72px, "ease-in");
      @include interpolate("line-height", 768px, 40px, 992px, 70px, "ease-in");
    }
  }

  p {
    text-align: center;
    /* Desktop_H4 */
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 400;
    /* Neutral/White */
    color: #fff9f9;
    max-width: 983px;
    padding-top: 32px;

    @include interpolate("font-size", 768px, 20px, 992px, 28px, "ease-in");
    @include interpolate("line-height", 768px, 24px, 992px, 32px, "ease-in");
  }
}

.section__title--cta {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  margin-bottom: 40px;
  gap: 32px;
  border-bottom: 1px solid rgba($color: #8d8d8d, $alpha: 0.25);
  a{
      position: relative;
      &:before{
        content: "";
        display: block;
        width: 0%;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FFFFFF;
        transition: all .25s ease-in;
      }
      &:hover{
        &:before{
          width: 100%;
          transition: all .25s ease-in;
        }
      }
  
    span{
      color: #fff;
    }
  }
}

.fluid--image{
  width: 100%;
}