:root {
  --border-radius-10: 10px;
  --border-radius-20: 20px;
  --color-background-black: #1a1a1a;
  --font-sans: "Anek Tamil", sans-serif;
  --font-cursive: "Caveat", cursive;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
}

strong,
b {
  font-weight: 600;
}

.display__container--fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.display__container--box {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

// Map of class names to font weights
$weights: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900,
);

// Loop through the map to create classes
@each $name, $weight in $weights {
  .font\:weight\:#{$name} {
    font-weight: $weight;
  }
}

@mixin padding($direction, $value) {
  .padding\:#{$direction}\:#{$value} {
    padding-#{$direction}: $value;
  }
}

@include padding(bottom, 8px);
@include padding(bottom, 16px);
@include padding(bottom, 24px);
@include padding(top, 32px);
@include padding(top, 48px);
@include padding(top, 40px);
@include padding(bottom, 32px);
@include padding(bottom, 40px);
@include padding(bottom, 48px);
@include padding(top, 120px);
@include padding(top, 80px);
@include padding(bottom, 80px);
@include padding(bottom, 120px);
@include padding(right, 0px);
@include padding(left, 0px);

.display\:grid {
  display: grid;
}

.display\:flex {
  display: flex;
}

.gap\:20px {
  gap: 20px;
}

.align\:items\:center {
  align-items: center;
}

.justify-content\:space-between {
  justify-content: space-between;
}

@mixin grid-columns($columns) {
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 768px) {
    grid-template-columns: repeat($columns, 1fr);
  }
}

.grid\:column\:2 {
  @include grid-columns(2);
}

.grid\:column\:3 {
  @include grid-columns(3);
}

.grid\:column\:4 {
  @include grid-columns(4);
}

.height\:auto {
  height: auto;
}
.width\:auto {
  width: auto;
}
.width\:100 {
  width: 100%;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  .display__container--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .header__content {
      @media(min-width: 768px){
      position: relative;
      }
      .header__nav {
        display: flex;
        align-items: center;
      }
      .header__country,
      #header__time {
        display: none;
        @media(min-width: 768px){
          display: inline-block;
        }
        font-family: var(--font-sans);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */
        letter-spacing: 0.05em;
        /* Primary/Black */
        color: #111111;
      }
      .header__menu--button {
        padding-left: 8px;
        @media(min-width: 768px){
        margin-left: 160px;
        }
        button {
          cursor: pointer;
          border: 0;
          background-color: transparent;
          font-family: "Anek Latin";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 22px;
          /* identical to box height, or 92% */
          letter-spacing: 0.02em;
          /* Primary/Black */
          color: #111111;
        }
      }

      .header__navlist {
        display: none;
        width: 432px;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #ffffff;
        padding-top: 32px;
        &.menu__active{
          display: block;
        }
        a {
          display: block;
          font-family: "Anek Latin";
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 32px;
          /* identical to box height, or 100% */
          letter-spacing: 0.02em;
          /* Primary/Black */
          color: #111111;
          margin-bottom: 16px;
        }
        ul {
          + a {
            /* Desktop_B2 */
            font-family: "Anek Tamil";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            /* identical to box height, or 112% */
            /* Primary/Black */
            color: #111111;
          }
        }
      }
    }
  }
}

.header\:1,
.font-size\:80px {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 600;
  color: #111111;
  // font-size: 80px;
  // line-height: 80px;
  @include interpolate("font-size", 768px, 40px, 992px, 80px, "ease-in");
  @include interpolate("line-height", 768px, 40px, 992px, 80px, "ease-in");
}

.header\:3,
.font-size\:36px {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}
.header\:4,
.font-size\:28px {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #111111;
}

a {
  padding: 4px 8px;
  // background-color: red;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  span {
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
  }
}

.color\:background\:black {
  background-color: var(--color-background-black);
}

.section__title--cta {
  display: flex;
  padding-bottom: 24px;
  margin-bottom: 40px;
  gap: 32px;
  border-bottom: 1px solid rgba($color: #8d8d8d, $alpha: 0.25);
}

.home\:intro {
  h1 {
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 600;
    color: #111111;
    @include interpolate("font-size", 768px, 40px, 992px, 80px, "ease-in");
    @include interpolate("line-height", 768px, 40px, 992px, 80px, "ease-in");
    max-width: 900px;
    span {
      // display: block;
      font-family: var(--font-cursive);
      font-style: normal;
      font-weight: 400;
      color: #111111;
      @include interpolate("font-size", 768px, 40px, 992px, 64px, "ease-in");
      @include interpolate("line-height", 768px, 40px, 992px, 70px, "ease-in");
    }
  }
  p {
    padding-top: 30px;
    padding-bottom: 40px;
    /* Desktop_H4 */
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #111111;
  }
}

.page__introduction {
  h1 {
    /* Desktop_H1 */
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    /* identical to box height, or 109% */
    /* Neutral/White */
    color: #fff9f9;
    max-width: 900px;
    span {
      // display: block;
      font-family: var(--font-cursive);
      font-style: normal;
      font-weight: 400;
      color: #b98f17;
      @include interpolate("font-size", 768px, 40px, 992px, 64px, "ease-in");
      @include interpolate("line-height", 768px, 40px, 992px, 70px, "ease-in");
    }
  }
  p {
    /* Desktop_H4 */
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* or 114% */
    /* Neutral/White */
    color: #fff9f9;
    max-width: 983px;
    padding-top: 24px;
  }
}

.home\:our--service {
  @include interpolate("padding-top", 768px, 40px, 992px, 80px, "ease-in");
  @include interpolate("padding-bottom", 768px, 40px, 992px, 80px, "ease-in");
  p {
    margin-bottom: 24px;
  }
}

.about__grid--gallery {
  display: grid;
  gap: 40px;
  grid-template-areas:
    "a b c"
    "d b f"
    "d e f"
    "g h .";
  .about__grid--gallery--item {
    margin-left: auto;
    margin-right: auto;
    &:nth-child(1) {
      grid-area: a;
    }
    &:nth-child(2) {
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
    &:nth-child(4) {
      grid-area: d;
    }
    &:nth-child(5) {
      grid-area: e;
    }
    &:nth-child(6) {
      grid-area: f;
    }
    &:nth-child(7) {
      grid-area: g;
    }
    &:nth-child(8) {
      grid-area: h;
    }
  }
}

.margin\:top\:64px {
  margin-top: 64px;
}

.main\:follow\:up > .display__container--box,
.main\:follow\:up {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @media(min-width: 768px){
  flex-direction: row;
  }
  gap: 20px;
  p {
    /* Desktop_H4 */
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #111111;
    max-width: 758px;
  }
  a {
    font-family: var(--font-cursive);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 80px;
    color: #111111;
  }
}

.our__ethos {
  .our__ethos--title {
    font-family: var(--font-cursive);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    /* identical to box height, or 108% */
    text-align: center;
    color: #f1b91a;
    padding-bottom: 32px;
  }
  .our__ethos--lists {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
    li {
      padding-bottom: 32px;
      display: flex;
      strong {
        max-width: 308px;
        display: inline-block;
        /* Desktop_H4 */
        font-family: var(--font-sans);
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        /* identical to box height, or 114% */
        text-align: right;
        /* Neutral/White */
        color: #fff9f9;
        padding-right: 30px;
        flex: 1 0 auto;
      }
      span {
        max-width: 533px;
        display: inline-block;
        /* Desktop_B1 */
        font-family: var(--font-sans);
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        /* or 120% */
        /* Neutral/White */
        color: #fff9f9;
      }
    }
  }
}

.page__contact {
  display: flex;
  gap: 30px;
  .content {
    max-width: 532px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &--title {
    /* We are here */
    font-family: "Caveat";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 70px;
    /* identical to box height, or 109% */
    color: #f1b91a;
    margin-bottom: 24px;
  }
  p {
    /* Desktop_B1 */
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    color: #ffffff;
  }
  form {
    padding-top: 40px;
    .form--title {
      font-family: var(--font-sans);
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 52px;
      /* identical to box height, or 108% */
      /* Primary/Secondary Black */
      color: #8d8d8d;
      padding-bottom: 24px;
    }
    p {
      padding-bottom: 24px;
    }
    label {
      width: 100%;
      display: block;
      font-family: var(--font-sans);
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
      /* identical to box height, or 110% */
      color: #ffffff;
    }
    .wpcf7-textarea {
      resize: none;
      height: 100px;
    }
    .wpcf7-form-control {
      font-family: var(--font-sans);
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
      color: #fff;
      background-color: transparent;
      padding: 6px 0;
      border: 0;
      width: 100%;
      border-bottom: 1px solid #fff;
    }
    .wpcf7-submit {
      padding: 12px 24px;
      background-color: #fff;
      font-family: "Anek Latin";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      /* identical to box height, or 114% */
      /* Primary/Black */
      color: #111111;
    }
    .form__wrapper {
      padding-bottom: 24px;
    }
  }
}



body{
  &.menu--noscroll{
    overflow: hidden;
  }
}