:root {
  --border-radius-10: 10px;
  --border-radius-20: 20px;
  --color-background-black: #1a1a1a;
  --font-sans: "Anek Tamil", sans-serif;
  --font-cursive: "Caveat", cursive;
}

body {
  transition: all 0.2s ease-in;
  font-optical-sizing: auto;
  font-style: normal;
  &.menu--noscroll{
    overflow: hidden;
  }
}

strong,
b {
  font-weight: 600;
}

.section__title--cta {
  display: flex;
  padding-bottom: 24px;
  margin-bottom: 40px;
  gap: 32px;
  border-bottom: 1px solid rgba($color: #8d8d8d, $alpha: 0.25);
  a{
      position: relative;
      &:before{
        content: "";
        display: block;
        width: 0%;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FFFFFF;
        transition: all .25s ease-in;
      }
      &:hover{
        &:before{
          width: 100%;
          transition: all .25s ease-in;
        }
      }
  
    span{
      color: #fff;
    }
  }
}

.fluid--image{
  width: 100%;
}