.main\:follow\:up {
  background-color: #fff;
  @include interpolate("padding-top", 768px, 40px, 992px, 80px, "ease-in");
  @include interpolate("padding-bottom", 768px, 40px, 992px, 80px, "ease-in");
}


.main\:follow\:up > .display__container--box {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  p {
    /* Desktop_H4 */
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 400;
    @extend %font-size-28px;
    color: #111111;
    @media (min-width: 768px) {
      flex: 0 0 calc(100% - 20px - 250px);
      max-width: calc(100% - 20px - 250px);
    }
    @media (min-width: 1200px) {
      flex: 0 0 758px;
      max-width: 758px;
    }
  }
  a {
    font-family: var(--font-cursive);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #111111;
    text-align: center;
    margin: 0 auto;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 3px;
      background-color: #111111;
      transition: all 0.35s ease-in;
    }
    &:hover::after {
      width: calc(100%);
      transition: all 0.35s ease-in;
    }
  }
}

footer {
  background-color: #000;
  .footer__wrapper {
    @include interpolate("padding-top", 768px, 30px, 992px, 60px, "ease-in");
    @include interpolate("padding-bottom", 768px, 30px, 992px, 60px, "ease-in");
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: 820px) {
      flex-direction: row;
    }
    p {
      padding-top: 16px;
      font-family: "Anek Tamil";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
    }
    a,
    address,
    nav a {
      padding-left: 0;
      padding-right: 0;
      display: block;
      font-family: "Anek Tamil";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #ffffff;
    }
    address {
      padding-top: 32px;
      line-height: normal;
    }

    .footer__nav--menu {
      display: flex;
      gap: 80px;
    }

    .footer__nav,
    .footer__nav--policy,
    .footer__nav--menu {
      padding-top: 32px;

      @media (min-width: 820px) {
        padding-top: 0;
      }
    }
  }
}
