header {
  position: fixed;
  // position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1400;
  &.scrolled{
    background-color: #fff;
  }
  .display__container--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 16px;
    @media (min-width: 768px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .header__content {
    @media (min-width: 768px) {
      position: relative;
    }
    .header__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__user--location {
        display: flex;
      }
      .header__country,
      .header__time {
        font-family: var(--font-sans);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */
        letter-spacing: 0.05em;
        /* Primary/Black */
        color: #111111;
        display: none;
        @media (min-width: 768px) {
          display: inline-block;
        }
      }
      .header__country {
        padding-right: 8px;
      }

      button {
        width: 82px;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        font-family: "Anek Latin";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 22px;
        /* identical to box height, or 92% */
        letter-spacing: 0.02em;
        /* Primary/Black */
        color: #111111;
        text-align: right;
        transition: all 0.3s ease;
        @media (min-width: 768px) {
          color: #111111;
          margin-left: 160px;
        }
        &:hover {
          font-family: "Anek Latin";
          font-style: normal;
          font-weight: 500;
          /* identical to box height, or 93% */
          letter-spacing: 0.02em;
          color: #f1b91a;
          @media (min-width: 768px) {
            font-size: 28px;
            line-height: 26px;
          }
        }
      }
    }
    .header__navlist {
      padding: 16px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #111;
      z-index: 12;
      padding: 16px;
      transition: transform 1s ease-in;
      transition-delay: -0.3s;
      transform: translateY(-200%);
      height: 100vh;
      @media (min-width: 768px) {
        background-color: #fff;
        top: 61px;
        margin: initial;
        width: calc(452px + 24px + 24px);
        left: -32px;
        padding: 24px 32px;
        transition: transform 1s ease-in;
        transition-delay: -0.3s;
        transform: translateY(-200%);
        height: 456px;
      }
      &.menu__active {
        // display: block;
        transition: transform 1s ease-in;
        transition-delay: -0.3s;
        transform: translateY(0%);
        top: 0;
        @media (min-width: 768px) {
          transition: transform 1s ease-in;
          transition-delay: -0.3s;
          transform: translateY(-24px);
        }
      }

      .header__navlist--header {
        padding-bottom: 50px;
        .header__logo--nav {
          svg path {
            fill: #fff;
          }
          button {
            color: #fff;
          }
          @media (min-width: 768px) {
            display: none;
          }
        }
        button {
          font-size: 24px;
          line-height: 22px;
          color: #fff;
          @media (min-width: 768px) {
            color:  #111;
          }
        }
      }
      ul a {
        display: block;
        font-family: "Anek Latin";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 22px;
        letter-spacing: 0.02em;
        /* Primary/Black */
        color: #fff;
        @media (min-width: 768px) {
          color: #111111;
        }
        margin-bottom: 24px;
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;
        &:before {
          content: "";
          display: inline-block;
          width: 0;
          height: 2px;
          background-color: #fff;
          transition: all 0.25s ease-in;
          @media (min-width: 768px) {
            transition: all 0.25s ease-in;
            background-color: #111;
          }
        }
        &:hover {
          &:before {
            margin-right: 16px;
            width: 20px;
          }
        }
        @media (min-width: 768px) {
          font-size: 32px;
          line-height: 32px;
          margin-bottom: 16px;
        }
      }
    }
  }
}
