
.home__intro {
  @include interpolate("padding-top", 768px, 40px, 992px, 80px, "ease-in");
  @include interpolate("padding-bottom", 768px, 40px, 992px, 80px, "ease-in");

    h1 {
      font-family: var(--font-sans);
      font-style: normal;
      font-weight: 600;
      color: #111111;
      @include interpolate("font-size", 768px, 40px, 992px, 80px, "ease-in");
      @include interpolate("line-height", 768px, 40px, 992px, 80px, "ease-in");
    //   max-width: 900px;
      span {
        // display: block;
        font-family: var(--font-cursive);
        font-style: normal;
        font-weight: 400;
        color: #111111;
        @include interpolate("font-size", 768px, 40px, 992px, 64px, "ease-in");
        @include interpolate("line-height", 768px, 40px, 992px, 70px, "ease-in");
      }
    }
    p {
      padding-top: 30px;
      padding-bottom: 40px;
      /* Desktop_H4 */
      font-family: var(--font-sans);
      font-style: normal;
      font-weight: 400;
      @include interpolate("font-size", 768px, 24px, 992px, 28px, "ease-in");
      @include interpolate("line-height", 768px, 28px, 992px, 32px, "ease-in");
      color: #111111;
    }
  }


.page__introduction {

  @include interpolate("padding-top", 768px, 40px, 992px, 80px, "ease-in");
  @include interpolate("padding-bottom", 768px, 40px, 992px, 80px, "ease-in");
  h1 {
    /* Desktop_H1 */
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 700;
    /* Neutral/White */
    color: #fff9f9;
    max-width: 900px;

    @include interpolate("font-size", 768px, 40px, 992px, 64px, "ease-in");
    @include interpolate("line-height", 768px, 40px, 992px, 70px, "ease-in");
    br{
      display: none;
      @media(min-width: 768px){
        display: block;
      }
    }
    span {
      // display: block;
      font-family: var(--font-cursive);
      font-style: normal;
      font-weight: 400;
      color: #b98f17;
      @include interpolate("font-size", 768px, 40px, 992px, 64px, "ease-in");
      @include interpolate("line-height", 768px, 40px, 992px, 70px, "ease-in");
    }
  }

  p {
    /* Desktop_H4 */
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 400;
    /* Neutral/White */
    color: #fff9f9;
    max-width: 983px;
    padding-top: 24px;

    @include interpolate("font-size", 768px, 24px, 992px, 28px, "ease-in");
    @include interpolate("line-height", 768px, 28px, 992px, 32px, "ease-in");
  }
}


.home\:our--service {
  @include interpolate("padding-top", 768px, 40px, 992px, 80px, "ease-in");
  @include interpolate("padding-bottom", 768px, 40px, 992px, 80px, "ease-in");
  p {
    margin-bottom: 24px;
  }
}

